<html lang="en-US">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <div id="usd">
            <h2>USD</h2>
            <div id="chartUsd"></div>
        </div>

        <div id="eur">
            <h2>EUR</h2>
            <div id="chartEur" style=""></div>
        </div>

        <style>
            #chartUsd, #chartEur {
                width: 100%;
                height: 300px;
            }
            h2 {
                font-family: "DejaVu Sans";
                color: #6dbadd;
                text-align: center;
                margin: 50px 0 0 0;
            }

            #eur {
                display: none;
            }
        </style>

        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            $.ajax({
                url: "/api/usd",
                success: function(rates) {
                    showChart('chartUsd', rates);

                    $.ajax({
                        url: "/api/eur",
                        success: function(rates) {
                            showChart('chartEur', rates);
                            $('#eur').show();
                        }
                    });
                }
            });

            function showChart(chartName, rates) {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create(chartName, am4charts.XYChart);

                chart.data = rates;

                // Create axes
                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.minGridDistance = 60;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                // Create series
                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = "value";
                series.dataFields.dateX = "date";
                series.tooltipText = "{value}";

                series.tooltip.pointerOrientation = "vertical";

                chart.cursor = new am4charts.XYCursor();
                chart.cursor.snapToSeries = series;
                chart.cursor.xAxis = dateAxis;

                //chart.scrollbarY = new am4core.Scrollbar();
                chart.scrollbarX = new am4core.Scrollbar();
            }
        </script>
    </body>
</html>
